

.pagination a {
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    color: #204adf;
    text-decoration: none;
}
.pagination a:hover {
    background-color: #f0f0f0;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    margin: 0 5px;
    text-decoration: none;
    color: #204adf;
}




.date-container {
    padding: 20px;
    background-color: #f2f2f2;
    min-height: 80vh;
}

.date-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.date-nav-button {
    border: 1px solid blue;
    background-color: whitesmoke;
        /* 角を丸くする */
        padding: 3px 13px;
    cursor: pointer;
    color: #204adf;
    font-size: 1.2em;
    text-decoration: none;
}


.current-date {
    margin: 0 15px;
}

.work-table {
    width: 100%;
    border-collapse: collapse;
}

.work-table th,
.work-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}



