
.stamp__container {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    min-height: 80vh;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 40px;
}

.stamp__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stamp-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3em 8em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    cursor: pointer;
    transition: filter 0.3s ease;
}



.stamp-button:hover {
    background-color: #f2f2f2;
}

/* 押せないボタンのスタイル */
form.disabled .stamp-button,
.stamp-button[disabled] {
    cursor: not-allowed;
    filter: grayscale(100%);
}

/* 押せないボタンはホバーしても背景色が変わらない */
form.disabled .stamp-button:hover,
.stamp-button[disabled]:hover {
    background-color: #fff;
}


.alert {
    color: red;
    margin-bottom: 10px;
    font-size: 1.2rem;
    animation: slide-in 0.5s forwards;
    position: fixed;
    /* アラートをビューポートに対して固定 */
    left: 50%;
    /* ビューポートの中央に配置 */
    transform: translateX(-50%);
    /* 要素の中心がビューポートの中央に来るように */
    top: 50px;
    /* ヘッダーの高さに応じて調整 */
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
        /* 上から下へのアニメーションに変更 */
        opacity: 0;
    }

    to {
        transform: translateY(0);
        /* 最終的な位置 */
        opacity: 1;
    }
}